<%- include ("partials/header") %> 

<h1>Welcome to the Yelpcamp Landing Page</h1>

<!--link for going back to the campground page-->
<a href="/campgrounds">View All Camping places</a>

<%- include ("partials/footer") %>